<div class="menu-nav">
  <ul>
    <li><%= link_to  "Home", root_path, class: "menu-item" %> </li> |
    <li> Search </li> |
    <li> Randomize(COMING SOON) </li> |
    <li> Sign in </li> |
    <li> Register </li>
  </ul>
</div>
