<div class="menu-nav">
  <ul>
    <li><%= link_to  "Home", root_path, class: "menu-item" %> </li> |
    <li> Search </li> |
    <li> Randomize(COMING SOON) </li> |
    <li><%= link_to "Register", new_user_registration_path %></li> |

    <% if user_signed_in? %>
      <li>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      </li>
    <% else %>
      <li class="login-button"> Sign in</li>
    <% end %>
  </ul>
</div>


<div class="login" style="display: none;">
  <%= render 'devise/sessions/form' %>
</div>
