<% if user_signed_in? %>
  <div class="portal-button">
    <p> Logged in as:
        <%= current_user.email %>
    </p>
    <%= image_tag("http://res.cloudinary.com/dfblssbuc/image/asset/v1461783499/settings-2bcbaf558599e5af54ff1104d39c993e.png", class: 'settings-icon') %>
  </div>

  <div class="portal-container" style="display: none;">
    <h1>Settings</h1>
    <ul>
      <li> My Profile </li>
      <li> Edit Account</li>
      <li><%= link_to "Add Artist", new_artist_path  %> </li>
      <li> Add Song </li>
    </ul>
  </div>

<% end %>
