<div class="container-songs">

  <div class="cover">
    <%= image_tag(song.cover.url, class: "song_img") %>
  </div>

  <div class="song_details">
    <h2><%= link_to song.title, artist_song_path(@artist.id, song.id) %></h2>

    <% if !defined?(hide_artist) || !hide_artist %>
      <p><%= link_to song.artist.name, song.artist %></p>
    <% end %>

    <p><%= song.year %></p>

  </div>
</div>
