/* Notice and Alert Messages */
.notice {
  background: green;
  background-color: rgba(25,255,0, 0.5);
  width: 50%;
  font-size: 30px;
  margin-left: 100px;
  border-radius: 10px;
}

.alert {
  background: red;
  background-color: rgba(255,0,0, 0.5);
  font-size: 30px;
  width: 50%;
  color: white;
  border-radius: 10px;
}

/* Login Form */

.login {
  width: 12%;
  height: 12%;
  background: #efefef;
  margin-left: 42%;
  text-align: center;
  padding: 2%;
  border-radius: 20px;
  border: 1px solid #D4AF37;
}

/* Register Form */

.register {
  width: 12%;
  height: 12%;
  background: #efefef;
  margin-left: 42%;
  text-align: center;
  padding: 2%;
  border-radius: 20px;
  border: 1px solid #D4AF37;
}
