.navbar {
  background: #605858;
  width: 110%;
  height: 100px;
  margin-left: -5%;
  margin-top: -5%;
  padding-bottom: 5%;
}

.nav-logo h1 {
  letter-spacing: 5px;
  font-size: 25px;
  color: #D4AF37;
  text-align: center;
  padding-top: 5%;

}
