.portal-button {
  position: fixed;
  width: 15%;
  color: white;
  font-size: 16px;
  border: 1px solid #D4AF37;
  border-radius: 5px;
  right: 0;
  padding: 10px;
  background: #751A1A;
  background-color: rgba(65,34,80, 0.5);
  margin-right: -5px;
}
.settings-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  float: right;
  margin-top: -18%;
}

.portal-container {
  position: fixed;
  right: 0;
  width: 14%;
  height: 30%;
  background-color: rgba(65,34,80, 0.5);
  color: white;
  margin-top: 85px;
  z-index: 1;
  padding: 18px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
  margin-right: -5px;
}

.portal-container h1 {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #D4AF37;
  padding-bottom: 10px;
}

.portal-container ul li {
  font-size: 20px;
  margin-top: 20px;
}
