.welcome {
  background: #544e4e;
  background-color: rgba(65,34,80, 0.5);
  width: 60%;
  height: 135px;
  text-align: center;
  color: white;
  margin-left: 20%;
  border: 1px solid white;
  margin-top: 2%;
  border-radius: 130px;
  position:relative;
}
.welcome-content{
  text-align: center;
  color: #EDF510;
  letter-spacing: -1px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
